{% extends 'base.html' %}

{% block title %}
    about
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>about sender.fm</h1>

        <p class="well">
            is a free online service for musicians and producers, enabling them to upload their work in different music
            libraries or to create their own personal broadcasts.
        </p>

        <p>
            sender.fm can also be used for promotional purposes or as a platform to test whether others like your music.
        </p>

        <p>
            non-registered users are able to create as many play lists as they like. they also have the option of rating
            various artists’ music and commenting on it. only positively rated music will be played on sender.fm.
            currently there is a selection of eight different styles of music.
        </p>

        <p>
            in addition to this, registered users have the opportunity to create a profile with pictures that can be
            updated at any point. they can also add comments and pictures to their music, and let other users download
            some of their music or promotional sounds for free.
        </p>

        <p>
            adding a link to a personal home page is also possible on sender.fm
        </p>

        <p>
            for those who would like to have the music player integrated into their home page, there is a plug in on
            sender.fm
        </p>

        <p>
            to be responsible for content:
        </p>
        <hr style="border-color: white">
        <p>
            verein sender.fm, zvr. 721695079<br>
            address: neubaugasse 12 - 14/19, 1070 wien<br>
            sender.fm is a product of Com Apps GMBH & Co KG
        </p>


        <p><a href="mailto:info@sender.fm" class="btn btn-primary btn-large">contact via mail &raquo;</a></p>
    </div>


    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">terms</h3>
                </div>
                sender.fm does not claim any ownership rights to the files that you upload here. you grant a limited,
                royalty-free license to sender.fm to publicly perform (by flash-stream & radio-stream) and distribute
                (by
                providing a download-link) your music & videos for free on this website and on other websites through
                our
                flash-plugin.
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">license</h3>
                </div>
                you may not upload any copyrighted material belonging to others. you must own the music & videos
                uploaded by you
                or otherwise have the right to grant the license set forth above (eg. free music). furthermore, you
                warrant that
                the upload of your music does not violate any intellectual property rights (including copyrights),
                contract
                rights or any other rights of any persons or organisations. you have sole responsibility and liability
                for the
                data you store on this server. you agree to pay for all royalties and/or any other fees that may arise
                due to
                copyright infringement by files uploaded by you.
                if your uploads violate our terms at a later time (e.g. if you join a copyright collective), you have to
                delete
                your uploads.
                please note that the use of recognisable samples in your work is also a form of copyright-infringement
                if you
                extract the samples from non-free sources (eg. movies).
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-3">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">termination</h3>
                </div>
                the removal of a song is done automatically after repeated negative votings.
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">data protection</h3>
                </div>
                we do not transfer user-data (eg. your email) to third parties and do not send out any spam.
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">changes</h3>
                </div>
                changes of the terms are always possible without announcement.
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">questions</h3>
                </div>
                should you have further questions regarding this we will happily answer you.
            </div>
        </div>
    </div>
{% endblock %}
