{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>welcome to</h1>
        <img src="http://sender.fm/pictures/sender.fm!sender_logo_transparent%20copy_gelber_punkt.png"
             style="background-color: #222; padding: 20px;" class="img-rounded img-responsive">

        <p></p>

        <p class="well">
            a free online service for musicians and producers, enabling them to upload their work in different music
            libraries or to create their own personal broadcasts.
        </p>
    </div>
{% endblock %}
