{% extends 'base.html' %}

{% block title %}
    media
{% endblock %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}
    <h1>media files by sender.fm</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'audiotracks' %}" class="btn btn-default">latest tracks</a>
        <a href="{% url 'user_index' user.username %}" class="btn btn-default">my tracks</a>
        <a href="{% url 'upload_track' %}" class="btn btn-default">upload track</a>
    {% else %}
        &nbsp;
    {% endif %}

    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
        including versions of Lorem Ipsum.</p>

    {% include 'track_list_snippet.html' with object="user" %}
{% endblock %}
