<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="sender.fm radio station and platform">
    <meta name="author" content="Eraldo Helal">

    <title>sender.fm {% block title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}pages/css/base.css" rel="stylesheet">

    {% block extra-head %}{% endblock %}
</head>

<body>

{% include 'menu.html' %}

<div class="container">

    <div class="content">
        <ul class="breadcrumb">
            {% block breadcrumbs %}
            {% endblock %}
        </ul>
        {% block content %}
        {% endblock %}
    </div>

</div>
<!-- /.container -->

{% include 'footer.html' %}

{# SCRIPTS #}

<!-- JavaScript plugins (requires jQuery) -->
{#<script src="http://code.jquery.com/jquery.js"></script>#}
{# jquery #}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


{# bootstrap #}
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

{#<script src="{{ STATIC_URL }}pages/audiojs/audio.min.js"></script>#}
{#<script>#}
{#    audiojs.events.ready(function () {#}
{#        var as = audiojs.createAll();#}
{#    });#}
{#</script>#}

<script>
    // determine the active selection in the menu
    $('#menu a[href*="' + location.pathname.split("/")[2] + '"][class!="noselect"]').parent("li").addClass('active');
</script>

{% block extra-script %}{% endblock %}

</body>
</html>