<h3>tracks</h3>
<div class="track-list-controlls btn-group">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            style
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">goa</a></li>
            <li><a href="#">experimental</a></li>
            <li><a href="#">core</a></li>
            <li><a href="#">tekno</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            artist
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">user a</a></li>
            <li><a href="#">user b</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            sort by
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">date</a></li>
            <li><a href="#">genre</a></li>
            <li><a href="#">size</a></li>
            <li><a href="#">style</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-default disabled">comments</button>
</div>

<div class="tracks" style="text-align: left;">
<table cellpadding="5" cellspacing="3" width="100%" border="0" class="table table-striped">
<tbody>
<tr style="background-color: #ccc">
    <td style="background-color: transparent"><a style="text-decoration:none"
                                                 href="upload.php?month=17"><font color="#000">{{ object }}'s
        stream:</font></a></td>
    <td width="100" style="background-color: transparent"><font color="#000">style:</font></td>
    <td width="75" style="background-color: transparent"><a style="text-decoration:none"
                                                            href="upload.php?month=19"><font
            color="#000">size:</font></a></td>
    <td width="75" style="background-color: transparent"><a style="text-decoration:none"
                                                            href="upload.php?month=25"><font
            color="#000">date:</font></a></td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('3').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="3" class="test2"
           href="../StoerFormat..Stoerformat_meet_s_TurboErna_Goa-experience_!!Goa_"><font
                color="dddddd"><b>StoerFormat</b></font> - Stoerformat meet s TurboErna
            Goa-experience</a>
    </td>
    <td class="test4">goa</td>
    <td class="test3">6.23 MB</td>
    <td class="test3">11.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('4').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="4" class="test2"
           href="../9tinein..intro_!!experimental"><font color="dddddd"><b>9tinein</b></font> -
            intro</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">4.12 MB</td>
    <td class="test3">11.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('5').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="5" class="test2"
           href="../rykrteam..Ehm_idiot_!!core"><font color="dddddd"><b>rykrteam</b></font> - Ehm idiot</a>
    </td>
    <td class="test4">core</td>
    <td class="test3">6.28 MB</td>
    <td class="test3">11.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('6').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="6" class="test2"
           href="../23CTK23..Lacoma-TeK_Mechanic-Drum_s"><font color="dddddd"><b>23CTK23</b></font> -
            Lacoma-TeK Mechanic-Drum s</a>
    </td>
    <td class="test4">tekno</td>
    <td class="test3">7.34 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('7').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="7" class="test2"
           href="../remko35..Outro_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Outro</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">2.88 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('8').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="8" class="test2"
           href="../remko35..Infinite_Diversity_!!experimental"><font
                color="dddddd"><b>remko35</b></font> - Infinite Diversity</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">7.06 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('9').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="9" class="test2"
           href="../remko35..Unworthy_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Unworthy</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">5.36 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('10').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="10" class="test2"
           href="../remko35..Canna-Bizz_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Canna-Bizz</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">5.39 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('11').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="11" class="test2"
           href="../remko35..Thurmas_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Thurmas</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">5.95 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('12').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="12" class="test2"
           href="../remko35..Whos_Mackin_Now__Bitch__!!experimental"><font color="dddddd"><b>remko35</b></font>
            - Whos Mackin Now Bitch </a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">6.14 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('13').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="13" class="test2"
           href="../remko35..Intentions_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Intentions</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">7.39 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('14').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="14" class="test2"
           href="../remko35..Whale_Shimmer_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Whale Shimmer</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">7.93 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('15').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="15" class="test2"
           href="../remko35..Anything_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Anything</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">5.79 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('16').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="16" class="test2"
           href="../remko35..Erotic_Pleasures_!!experimental"><font color="dddddd"><b>remko35</b></font>
            - Erotic Pleasures</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">4.57 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('17').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="17" class="test2"
           href="../remko35..Devil_Dentist_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Devil Dentist</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">7.85 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('18').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="18" class="test2"
           href="../remko35..Weeks_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Weeks</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">5.57 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('19').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="19" class="test2"
           href="../remko35..New_Kids_Hyper_Dub_!!experimental"><font
                color="dddddd"><b>remko35</b></font> - New Kids Hyper Dub</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">7.79 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('20').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="20" class="test2"
           href="../remko35..Morbid_Mood_Swings_!!experimental"><font
                color="dddddd"><b>remko35</b></font> - Morbid Mood Swings</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">8.5 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('21').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="21" class="test2"
           href="../remko35..Rewind_Selector__Bass-Treble__!!experimental"><font color="dddddd"><b>remko35</b></font>
            - Rewind Selector Bass-Treble </a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">6.12 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('22').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="22" class="test2"
           href="../remko35..Deepspace_Diskovibe_!!experimental"><font
                color="dddddd"><b>remko35</b></font> - Deepspace Diskovibe</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">6.44 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('23').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="23" class="test2"
           href="../remko35..To_My_Lord_And_My_Saviour_!!experimental"><font
                color="dddddd"><b>remko35</b></font> - To My Lord And My Saviour</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">8.34 MB</td>
    <td class="test3">10.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('24').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="24" class="test2" href="../TeKKnoide..paranoide2"><font
                color="dddddd"><b>TeKKnoide</b></font> - paranoide2</a>
    </td>
    <td class="test4">tekno</td>
    <td class="test3">9.27 MB</td>
    <td class="test3">09.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('25').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="25" class="test2"
           href="../remko35..The_Ghosts_In_The_Darkness_!!experimental"><font
                color="dddddd"><b>remko35</b></font> - The Ghosts In The Darkness</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">4.55 MB</td>
    <td class="test3">09.08.13</td>
</tr>
<tr>
    <td class="test1hover"
        onclick="if ((!taste) &amp;&amp; (!taste2)) {var xl=document.getElementById('26').href; taste2 = true; window.location.href=xl; }">
        <a onclick="if (!taste) {taste2 = true;}" id="26" class="test2"
           href="../remko35..Somewhere_!!experimental"><font color="dddddd"><b>remko35</b></font> -
            Somewhere</a>
    </td>
    <td class="test4">experimental</td>
    <td class="test3">5.5 MB</td>
    <td class="test3">09.08.13</td>
</tr>
</tbody>
</table>
</div>