{% extends 'base.html' %}
{% load i18n %}

{% block extra-head %}
    <style>
        label {
            display: block;
        }

        .audiotracks-edit-row {
            clear: both;
            margin-bottom: 1em;
        }

        .audiotracks-edit-row > div {
{#            float: left;#}
            margin-right: 1em;
        }

        .audiotracks-form {
            margin-bottom: 1em;
        }

        .audiotracks-delete-image-label {
            display: inline;
        }

        .messages {
            color: green;
            border: solid 1px green;
            padding: 0.2em;
        }

        .messages li {
            list-style: none;
        }

        .errorlist {
            color: red;
            list-style: none;
            display: inline;
        }
    </style>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'pages:media' %}">media</a></li>
{% endblock %}

{% block content %}
    {% block subnav %}
        {% if user.is_authenticated %}
            <a href="{% url 'audiotracks' %}" class="btn btn-default">latest tracks</a>
            <a href="{% url 'user_index' user.username %}" class="btn btn-default">my tracks</a>
            <a href="{% url 'upload_track' %}" class="btn btn-default">upload track</a>
        {% else %}
            &nbsp;
        {% endif %}
    {% endblock %}
    <p></p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block body %}{% endblock %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block extra-script %}
{% endblock %}
