{% load i18n %}
<div class="audiotracks-list-entry">

    <div class="panel">
        <div class="panel-heading">

            {% if track.image %}
                <img class="track-image" src="{{ track.image.url_48x48 }}" alt="{% trans 'Track Image' %}"/>
            {% endif %}
            <div class="track-details">
                <a href="{% url 'track_detail' track.user.username track.slug %}">
                    <div class="track-title">
                        {% if track.artist %} {{ track.artist }} &#8211; {% endif %}{{ track.title|title }}
                        {% if track.genre %} ({{ track.genre }}){% endif %}
                    </div>
                </a>

                <div class="upload-details">
                    {% trans 'uploaded by' %}
                    {{ track.user.username }}
                    {% blocktrans with track.created_at|timesince as track_age %}{{ track_age }} ago{% endblocktrans %}
                </div>
            </div>
        </div>
{#        <div class="player-container">#}
{#            <audio preload="none">#}
{#                <source src="{{ track.audio_file.url }}" type="{{ track.mimetype }}">#}
{#            </audio>#}
{#        </div>#}
{#        <p class="debug-info">Player type: <span class="audio-type"></span></p>#}
        <a href="#" class="btn btn-primary" onclick="play('{{ track.audio_file.url }}'); return false;">play</a>
        {% if track.user == user %}
            <div class="audiotracks-action">
                <a href="{% url 'edit_track' track.id %}" class="btn btn-info">{% trans 'Edit' %}</a>
                <a href="{% url 'confirm_delete_track' track.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
            </div>
        {% endif %}
    </div>
</div>
